/*
  Grid System Definition - Without margins
*/

[class*="col-"] {
  /* We wont' use display: inline-block because then we have to remove newlines and spaces in the html */
  /* display: inline-block; */
  float: left;
  padding: 15px;
  border: 1px solid  ;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
   background-color: #1080A9;
   color:white;
}
.row::after {
  content: "";
  clear: both;
  display: table;
  margin: 0 0 10px 0;
}
.col-3:hover {
  background-color: #04AA6D;
  color: white;
  text-decoration:none;
}
.col-3 a {
  
  color: white;
  text-decoration:none;
}

@media screen and (min-width: 640px) {
  .col-1 {
    /* if we had a whole grid row of these, there would be 12 of them */
    /* 12 = 1 + 1 + 1 + 1 + 1 + 1 + 1 + 1 + 1 + 1 + 1 + 1 */
    /* width: 8.33%; */
    width: calc(100% / 1);
    /* width: calc(100% / (12 / 1)); */
  }
  .col-2 {
    /* if we had a whole grid row of these, there would be 6 of them */
    /* 12 = 2 + 2 + 2 + 2 + 2 + 2 */
    /* width: 16.66%; */
    width: calc(100% / 6);
    /* width: calc(100% / (12 / 2)); */
  }
  .col-3 {
    /* if we had a whole grid row of these, there would be 4 of them */
    /* 12 = 3 + 3 + 3 + 3 */
    /* width: 24.99%; */
    width: calc(100% / 4);
    /* width: calc(100% / (12 / 3)); */
  }
  .col-4 {
    /* if we had a whole grid row of these, there would be 3 of them */
    /* 12 = 4 + 4 + 4 */
    /* width: 33.32%; */
    width: calc(100% / 6);
    /* width: calc(100% / (12 / 4)); */
  }
  .col-5 {
    /* if we had a whole grid row of these, there would be... Oh no! It's not that simple this time */
    /* 12 = 5 + 5 + .... we can't get to 12 evenly with 5 column wide elements */
    /* Instead, let's do this the other direction. Let's build this up as 5 1 column items */
    /* 5 column widths =  1 column width + 1 column width + 1 column width + 1 column width + 1 column width */
    /* What's 1 column width? it's 100% / 12. That means 5 times that amount would be */
    /* width: 41.65%; */
    width: calc(5 * (100% / 12));
    /* width: calc(100% / (12 / 5)); */
  }
  .col-6 {
    /* if we had a whole grid row of these, there would be 2 of them */
    /* Look at the decimal version! 6 should be half, but 49.98% is not the same as 50%! */
    /* width: 49.98%; */
    width: calc(6 * (100% / 12));
    /* width: calc(100% / (12 / 6)); */
  }
  .col-7 {
    /* if we had a whole grid row of these, there would be... now that we're past the half way point, we can't divide 100% by a normal number, so we use the same method we did with the 5 */
    /* 7 columns wide = 1 + 1 + 1 + 1 + 1 + 1 + 1 */
    /* width: %; */
    width: calc(7 * (100% / 12));
    /* OR we can use the 12 / 7 method */
    /* width: calc(100% / (12 / 7)); */
  }
  .col-8 {
    /* width: %; */
    width: calc(
      8 * (100% / 12)
    ); /* For those strong in math, you can simplify this down */
    /* width: calc(100% / (12 / 8)); */
  }
  .col-9 {
    /* width: %; */
    width: calc(9 * (100% / 12));
    /* width: calc(100% / (12 / 9)); */
  }
  .col-10 {
    /* width: %; */
    width: calc(10 * (100% / 12));
    /* width: calc(100% / (12 / 10)); */
  }
  .col-11 {
    /* width: %; */
    width: calc(11 * (100% / 12));
    /* width: calc(100% / (12 / 11)); */
  }
  .col-12 {
    /* if we had a whole grid row of these, there would be 1 of them! */
    width: 100%; /* No math required! */
  }
}
